@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 1, 1, 20;
    --background-end-rgb: 1, 1, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  transform-origin: center bottom;
  animation: fall 4s linear infinite;
}

.confetti.square {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}
.confetti.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(720deg);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-pink {
    color: rgb(255, 133, 241); /* Pink color */
    text-shadow:
      0 0 5px rgba(255, 133, 241, 0.8),
      /* Inner glow */ 0 0 10px rgba(255, 133, 241, 0.6),
      /* Outer glow */ 0 0 15px rgba(255, 133, 241, 0.4),
      /* Outer glow */ 0 0 20px rgba(255, 133, 241, 0.2); /* Outer glow */
  }

  /* Add shining animation effect */
  @keyframes shine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .shine {
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.5;
    transform: translateX(-100%);
    animation: shine 1.5s infinite linear;
  }
}
