@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 1, 1, 20;
  --background-end-rgb: 1, 1, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gradient-button {
  background: linear-gradient(
    to right,
    #00b4d8,
    #9b5de5,
    #f25f5c
  ); /* gradient of lightblue, purple, and pink */
  color: white; /* text-color */
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background 0.3s ease,
    transform 0.3s ease;
}

.gradient-text {
  background: linear-gradient(to right, #00b4d8, #9b5de5, #f25f5c);
  -webkit-background-clip: text;
  color: transparent; /* Make the text color transparent */
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  transform-origin: center bottom;
  animation: fall 4s linear infinite;
}

.confetti.square {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}
.confetti.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(720deg);
  }
}

.full-screen-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-pink {
    color: rgb(255, 133, 241); /* Pink color */
    text-shadow:
      0 0 5px rgba(255, 133, 241, 0.8),
      /* Inner glow */ 0 0 10px rgba(255, 133, 241, 0.6),
      /* Outer glow */ 0 0 15px rgba(255, 133, 241, 0.4),
      /* Outer glow */ 0 0 20px rgba(255, 133, 241, 0.2); /* Outer glow */
  }

  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }

  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }

  @keyframes accordion-up {
    from {
      max-height: 100px;
    }
    to {
      max-height: 0;
    }
  }

  @keyframes accordion-down {
    from {
      max-height: 0;
    }
    to {
      max-height: 100px;
    }
  }

  /* Add shining animation effect */
  @keyframes shine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .shine {
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.5;
    transform: translateX(-100%);
    animation: shine 1.5s infinite linear;
  }
}
